<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.moviereviewweb.mapper.AdminMapper">

    <select id="selectAll" resultType="com.example.moviereviewweb.entity.Admin">
        select * from admin
        <where>
            <if test="name != null"> and name like concat('%', #{name}, '%')</if>
        </where>
        order by id desc
    </select>

    <insert id="insert" parameterType="com.example.moviereviewweb.entity.Admin" useGeneratedKeys="true">
        insert into admin(id, username, password, name, avatar, statu)
        values (#{id}, #{username}, #{password}, #{name}, #{avatar}, #{statu})
    </insert>

    <update id="updateById" parameterType="com.example.moviereviewweb.entity.Admin">
        update admin set username = #{username}, password = #{password}, name = #{name}, avatar = #{avatar}, statu = #{statu}
        where id = #{id} 
    </update>

</mapper>