<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--        namespace后跟要接管的接口引用地址-->

<mapper namespace="com.example.moviereviewweb.mapper.CommentMapper">
    <insert id="insert" parameterType="com.example.moviereviewweb.entity.Comment">
    insert into comment(mid,score,comment,user_id,time,type) values (#{mid},#{score},#{comment},#{userId},#{time},#{type})
    </insert>
    <update id="updateById"  parameterType="com.example.moviereviewweb.entity.Comment">
        update comment set mid=#{mid},score=#{score},comment=#{comment},user_id=#{userId}, time=#{time},type=#{type}
        where id=#{id}
    </update>
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from comment where id =#{id}
    </delete>


    <select id="selectAll" resultType="com.example.moviereviewweb.entity.Comment">
        select comment. *,  movie.name as filmName,user.username as userName from comment
        left join movie on comment.mid=movie.mid
        left join user on comment.user_id =user.uid
        <where>
            <if test="filmName !=null">and movie.name like contact('%',#{filmName},'%')</if>
        </where>
        order by id desc
    </select>

</mapper>


